body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:720px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:705px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:705px;
}
#u51 {
  position:absolute;
  left:2px;
  top:344px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:705px;
}
#u52 {
  position:absolute;
  left:360px;
  top:0px;
  width:360px;
  height:705px;
}
#u53 {
  position:absolute;
  left:2px;
  top:344px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
